.home {
    width: 100vw;
    height: 100vh;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    position: relative;
    z-index: 1;
    transition: 0.2s all ease;
}

.home__watermark {
    position: absolute;
    z-index: -1;
    top: 2rem;
    right: 2rem;
    width: 50%;
    max-width: 30rem;
}
.home__watermark img {
    width: 100%;
    opacity: 0.5;
}

.home__header {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__header-logo {
    width: 60%;
    padding-right: 2rem;
    max-width: 30rem;
}
.home__header-logo img {
    width: 100%;
}

.home__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.home__routeCardList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* On screens that are 600px or above */
@media screen and (min-width: 600px) {
    .home{
        padding: 0 0 3rem 3rem;
    }
}

/* On screens that are 1000px or above */
@media screen and (min-width: 1000px) {
    .home{
        padding: 0 0 5rem 5rem;
    }
}

/* On screens that are 1200px or above */
@media screen and (min-width: 1200px) {
    .home{
        padding: 0 0 10rem 10rem;
    }
}
