.routeCard {
    width: 100%;
    height: 16rem;
    display: grid;
    grid-template-columns: 30% 63%;
    gap: 7%;

    position: relative;

    background: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 3rem 0 0 3rem;
    box-shadow: 0 10px 20px rgba(50,50,93,.15), 0 5px 10px rgba(0,0,0,.1);
    transition: 0.2s all ease;
}

.routeCard:hover {
    cursor: pointer;
    box-shadow: 0 0 0 transparent;
}
.routeCard:hover .routeCard__startBtn .material-symbols-outlined {
    animation: wiggle 0.8s infinite ease;
}

.routeCard__disabled {
    opacity: 0.85;
}
.routeCard__disabled:hover {
    cursor: not-allowed;
    box-shadow: 0 10px 20px rgba(50,50,93,.15), 0 5px 10px rgba(0,0,0,.1);
}
.routeCard__disabled:hover .routeCard__startBtn .material-symbols-outlined {
    animation: wiggle 0s infinite ease;
}

.routeCard__image {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.routeCard__image img{
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 3rem 0 0 3rem;
}

.routeCard__progressCard {
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    left: 18%;
    padding: 0.6rem 0.8rem;

    background: var(--clr-white);
    border-radius: 1rem;
}
.routeCard__progressCard-score {
    color: var(--clr-black);
    font-weight: 600;
    letter-spacing: -0.1rem;
}

.routeCard__content {
    height: 100%;
    padding: 2rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.routeCard__content-header h3{
    text-transform: capitalize;
}

.routeCard__startBtn {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;

    background: transparent;
    border: none;
}
.routeCard__startBtn-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--clr-white);
}
.routeCard__startBtn .material-symbols-outlined {
    color: var(--clr-white);
}

.routeCard__progressBar{
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.routeCard__progressBar-total{
    height: 2rem;
    width: 100%;
    /* position: absolute; */

    background: var(--clr-grey);
    border-radius: 1rem;
}
.routeCard__progressBar-complete{
    height: 2rem;
    position: absolute;
    z-index: 2;

    background: var(--clr-secondary);
    border-radius: 1rem;
}

/* keyframes */
@keyframes wiggle {
    0% {
        transform: translateX(0rem);
    }
    40% {
        transform: translateX(0.3rem);
    }
    60% {
        transform: translateX(0rem);
    }
    80% {
        transform: translateX(0.3rem);
    }
}


/* On screens that are 1000px or above */
@media screen and (min-width: 800px) {
    .routeCard{
        gap: 5%;
    }
}

/* On screens that are 1000px or above */
@media screen and (min-width: 1000px) {
    .routeCard{
        height: 20rem;
        grid-template-columns: 25% 70%;
        gap: 5%;
    }

    .routeCard__startBtn-text {
        font-size: 1.8rem;
    }
}
