.mapMenu {
    z-index: 42069;
    position: absolute;
    width: 90%;
    max-width: 50rem;
    bottom: 3rem;
    align-self: center;
    padding: 3rem 3.5rem;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;

    background: var(--clr-white);
    border-radius: 4.5rem;
    box-shadow: 0 8px 15px rgba(50,50,93,.2), 0 5px 10px rgba(0,0,0,.1);
}

.mapMenu__left{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.mapMenu__header{
    color: var(--clr-black);
    text-transform: capitalize;
}

.mapMenu__progressCard {
    width: 7.5rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-primary);
    border-radius: 1rem;
}
.mapMenu__progressCard-score {
    color: var(--clr-white);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.1rem;
}