:root {
    --clr-primary: #223E2B;
    --clr-secondary: #E7AE19;

    --clr-black: #06120F;
    --clr-white: #FFFFFF;
    --clr-grey: #D5D6D1;

    --ff-primary: 'Karla', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--clr-white);

    font-family: var(--ff-primary);
    color: var(--clr-black);
}

.leaflet-container {
    width: 100vw;
    height: 100vh;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

h1, h2 {
    font-weight: 700;
}
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.2rem;
    }
h3 {
    font-weight: 500;
    font-size: 2.2rem;
}
p {
    font-weight: 300;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}

/* On screens that are 1200px or above */
@media screen and (min-width: 1200px) {
    h3 {
        font-size: 2.5rem;
    }
}